html {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden; 
}

.header {
    background-color: #650094;
    padding: 6px;
    text-align: center;
    font-size: 1.3rem;
}

.menu {
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: #650094;
    padding: 1rem;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 0px;
}

.menu a {
    background-color: #650094;
    padding: 1rem;
    text-decoration: none;
    color: #FFD200;
}

.menu a:hover {
    background-color: #FFD200;
    color: #FFFFFF;
}
.menu li:hover {
    background-color: #FFD200;
}

.titulo-principal {
    color:#333;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.titulo {
    text-align: center;
}

.texto {
    text-align: justify;
    padding: 1rem;
    margin: 1rem 3rem;
}

.footer {
    width: 100%;
    background-color: #650094;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #FFD200;
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 800px;
}

.card img {
    width: 400px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
    object-fit: cover;
}

.card-info {
    flex: 1;
    padding: 20px;
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    margin-bottom: 0;
}

.container-integrantes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-integrantes {
    width: 350px;
    text-align: center;
}

.card-integrantes img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

input:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

.form-button {
    align-self: center;
    width: 90%;
    background-color: #FFD200;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0;
    font-weight: bold;
}

.form-button:hover {
    background-color: #333;
    color: #FFFFFF;
}